/*
    Font Weights:
        100 - Thin
        200 - Extra Light (Ultra Light)
        300 - Light
        400 - Normal
        500 - Medium
        600 - Semi Bold (Demi Bold)
        700 - Bold
        800 - Extra Bold (Ultra Bold)
        900 - Black (Heavy)
*/

@font-face {
    font-family: 'GT Walsheim';
    src: url('GT-Walsheim-Regular.woff') format('woff'),
        url('GT-Walsheim-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
