@import 'vars';

body {
    font-family: $font-body;
    background-color: $white;
    font-size: 18px;
    margin: 0;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
}
a {
    transition: color 250ms $easeInOutQuad;
    color: $black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 0;
}
strong {
    font-weight: 500;
}

// button reset
button {
    @include no-select;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-family: $font-body;
    border-radius: 0;
    font-weight: 400;
    font-size: 18px;
}
// input reset
input {
    background-color: transparent;
    appearance: none;
    font-family: $font-body;
    border-radius: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    border: none;

    &:focus {
        outline: none;
    }
}
// ::-webkit-scrollbar {
//     display: none;
// }
:root {
    --article-link-color: #a0a0a0;
}

// layering
.site-overlay-form {
    z-index: 60;
}
.site-menu {
    z-index: 50;
}
.site-header {
    z-index: 40;
}
section.loading-screen {
    z-index: 80;
}

// Prismic content styling
.entry {
    h1,
    h2,
    h3,
    h4 {
        margin: 30px 0;
    }
    h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 38px;
    }
    h3 {
        font-size: 32px;
        line-height: 1.5;
    }
    h4 {
        font-size: 28px;
    }
    ul {
        list-style-type: none;
        margin: 30px 0;
        padding: 0;
    }
    ul a {
        text-decoration: none;
    }
    p {
        margin: 30px 0;
    }
    a strong,
    strong a {
        position: relative;

        // &::after {
        //     background-color: $black;
        //     content: '';
        //     position: absolute;
        //     bottom: 3px;
        //     height: 1px;
        //     right: 0;
        //     left: 0;
        // }
    }
}

// WIV
.wiv {
    transition: opacity 750ms;

    &.below-view {
        opacity: 0;
    }
}

// mobile
@media #{ $lt-phone } {
    input,
    button {
        font-size: 16px;
    }
    .entry {
        font-size: 16px;

        h3 {
            font-size: 25px;
        }
    }
}

// Basic fade
.fade-enter-active,
.fade-leave-active {
    transition: opacity 200ms $easeInOutQuad;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}

// Page fade
.container main.page-fade-enter-active,
.container main.page-fade-leave-active {
    transition: opacity 375ms $easeInOutQuad;
}
.container .page-fade-enter,
.container .page-fade-leave-to {
    opacity: 0;
}
