@import 'vars';

body {
    font-family: $font-body;
    background-color: $white;
    font-size: 18px;
    margin: 0;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
}
a {
    transition: color 250ms $easeInOutQuad;
    color: $black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 0;
}
// button reset
button {
    @include no-select;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-family: $font-body;
    font-weight: 400;
    font-size: 18px;
}
// ::-webkit-scrollbar {
//     display: none;
// }

// layering
.site-menu {
    z-index: 50;
}
.site-header {
    z-index: 40;
}

// Basic fade
.fade-enter-active,
.fade-leave-active {
    transition: opacity 200ms $easeInOutQuad;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
